[Unit]
Description=Cancel starting gdm3 if 'nox' is passed on kernel commandline
Before=gdm3.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'if grep -Fwq nox /proc/cmdline; then systemctl stop gdm3.service; fi'

[Install]
RequiredBy=gdm3.service
