[Service]
ExecStart=-/usr/bin/update-mime-database /usr/share/mime
ExecStart=-/usr/sbin/update-mime --triggered
ExecStart=-/usr/bin/gtk-update-icon-cache --force --quiet /usr/share/icons/hicolor
ExecStart=-/usr/bin/gtk-update-icon-cache --force --quiet /usr/share/icons/gnome
ExecStart=-/usr/bin/update-desktop-database -q
ExecStart=-/usr/sbin/gnome-menus-blacklist
ExecStart=-/usr/bin/update-menus --trigger
ExecStart=-/usr/lib/x86_64-linux-gnu/glib-2.0/glib-compile-schemas /usr/share/glib-2.0/schemas
Type=oneshot
