[Unit]
Description=WPA supplicant

[Service]
Type=dbus
BusName=fi.w1.wpa_supplicant1
ExecStart=/sbin/wpa_supplicant -u -g/var/run/wpa_supplicant.ctrl -c/etc/wpa_supplicant/wpa.conf

[Install]
WantedBy=multi-user.target
Alias=dbus-fi.epitest.hostap.WPASupplicant.service
